<div class="top-div-menu">
  <div class="top-div-menu-side">
    <ul class="dropdown menu" data-dropdown-menu>


      <li style="margin-left: 1px;">
        <a class="clear button warning" style="font-size: 16px;">DataSet</a>
        <ul class="menu vertical">
          <li class="top-right-menu-li hoverValue">
            <a class="clear  button warning" ui-sref="analysisHome.pilotData">Pilot </a>
          </li>
          <li class="top-right-menu-li hoverValue">
            <a class="clear button warning" ui-sref="analysisHome.environmentData">Environment </a>
          </li>
          <li class="top-right-menu-li hoverValue">
            <a class="clear button warning" ui-sref=analysisHome.aircraftData "">Aircraft </a>
          </li>
      </li>

      </ul>
      </li>


    </ul>



  </div>


  <div class="top-div-menu-side-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a class="button warning" ui-sref="analysisHome.result">Result </a>

      </li>
      <li>
        <a class="button warning" ui-sref="analysisHome.profeciency">Proficiency </a>

      </li>
      <li>
        <a class="button warning">Environment</a>
        <ul class="menu vertical">
          <li class="top-right-menu-li">
            <a class="button warning" ui-sref="analysisHome.sourceAirport">Source Airport </a>
          </li>
          <li class="top-right-menu-li">

            <a class="button warning" ui-sref="analysisHome.destinationAirport">Destination Airport </a>
          </li>

        </ul>
      </li>
      <li>
        <a class="button warning" ui-sref="analysisHome.aircraft">Aircraft</a>
      </li>
      <li>
        <a class="button warning" ui-sref="analysisHome.humanPerformance">Human Performance</a>
      </li>


    </ul>


  </div>

</div>
<div class="top-div-analysis">
  <div class="top-div-analysis-partition">
    <div class="top-div-analysis-left">
      <h5>Aircraft Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </h5>
      <h6 ng-model="aircraftCode">{{aircraftCode}}</h6>

    </div>
    <div class="top-div-analysis-left">
      <h5>Captain Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
      <h6 ng-model="captain">{{captain}}</h6>
    </div>
    <div class="top-div-analysis-left">
      <h5>Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5>
      <h6 ng-model="sourceDate">{{sourceDate}}</h6>
    </div>
  </div>
  <div class="top-div-analysis-partition">
    <div class="top-div-analysis-left">
      <h5>Source Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5>
      <h6 ng-model="sourceLocation">{{sourceLocation}}</h6>
    </div>
    <div class="top-div-analysis-left">
      <h5>Dest. Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5>
      <h6 ng-model="destinationLocation">{{destinationLocation}}</h6>
    </div>
    <div class="top-div-analysis-left">
      <h5>First Pilot&nbsp;&nbsp;&nbsp;&nbsp; </h5>
      <h6 ng-model="firstPilot">{{firstPilot}}</h6>
    </div>
  </div>
</div>

<div ui-view>

</div>
<script>
  $(document).foundation();
</script>