<div class="loader-wrapper" ng-show='analysisLoading'>
	<div class="loader">
		<div class="roller"></div>
		<div class="roller"></div>
	</div>

	<div id="loader2" class="loader">
		<div class="roller"></div>
		<div class="roller"></div>
	</div>

	<div id="loader3" class="loader">
		<div class="roller"></div>
		<div class="roller"></div>
	</div>
	<div id="loader3" class="loader">
		<div class="roller"></div>
		<div class="roller"></div>
	</div>
</div>
<div class="top-div-menu">
	<div class="top-div-menu-side">
		<ul class="dropdown menu" data-dropdown-menu>


			<li style="margin-left: 1px;">
				<a class="clear button warning" style="font-size: 16px; color: rgb(254, 89, 0);">DataSet</a>
				<ul class="menu vertical">
					<li class="top-right-menu-li hoverValue">
						<a class="clear  button warning" ui-sref="analysisHome.pilotData" style="font-size: 16px; color: rgb(254, 89, 0);">Pilot </a>
					</li>
					<li class="top-right-menu-li hoverValue">
						<a class="clear button warning" ui-sref="analysisHome.environmentData" style="font-size: 16px; color: rgb(254, 89, 0);">Environment </a>
					</li>
					<li class="top-right-menu-li hoverValue">
						<a class="clear button warning" ui-sref=analysisHome.aircraftData style="font-size: 16px; color: rgb(254, 89, 0);">Aircraft </a>
					</li>
			</li>

			</ul>
			</li>


		</ul>



	</div>


	<div class="top-div-menu-side-right">
		<ul class="dropdown menu" data-dropdown-menu>
			<li>
				<a class="button warning" ui-sref="analysisHome.result" style="background: rgb(234, 98, 20);">Result </a>
			</li>
			<li>
				<a class="button warning" ui-sref="analysisHome.profeciency" style="background: rgb(234, 98, 20);">Proficiency </a>
			</li>
			<li>
				<a class="button warning" style="background: rgb(234, 98, 20);">Environment</a>
				<ul class="menu vertical">
					<li class="top-right-menu-li">
						<a class="button warning" ui-sref="analysisHome.sourceAirport" style="background: rgb(234, 98, 20);">Source Airport </a>
					</li>
					<li class="top-right-menu-li">
						<a class="button warning" ui-sref="analysisHome.destinationAirport" style="background: rgb(234, 98, 20);">Destination Airport </a>
					</li>

				</ul>
			</li>
			<li>
				<a class="button warning" ui-sref="analysisHome.aircraft" style="background: rgb(234, 98, 20);">Aircraft</a>
			</li>
			<li>
				<a class="button warning" ui-sref="analysisHome.humanPerformance" style="background: rgb(234, 98, 20);">Human Performance</a>
			</li>


		</ul>


	</div>

</div>
<div class="top-div-analysis">
	<div class="top-div-analysis-partition">
		<div class="top-div-analysis-left">
			<h5>Aircraft Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</h5>
			<h6 ng-model="aircraftCode">{{aircraftCode}}</h6>

		</div>
		<div class="top-div-analysis-left">
			<h5>Captain Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
			<h6 ng-model="captain">{{captain}}</h6>
		</div>
		<div class="top-div-analysis-left">
			<h5>Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</h5>
			<h6 ng-model="sourceDate">{{sourceDate}}</h6>
		</div>
	</div>
	<div class="top-div-analysis-partition">
		<div class="top-div-analysis-left">
			<h5>Source Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</h5>
			<h6 ng-model="sourceLocation">{{sourceLocation}}</h6>
		</div>
		<div class="top-div-analysis-left">
			<h5>Dest. Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</h5>
			<h6 ng-model="destinationLocation">{{destinationLocation}}</h6>
		</div>
		<div class="top-div-analysis-left">
			<h5>First Pilot&nbsp;&nbsp;&nbsp;&nbsp;</h5>
			<h6 ng-model="firstPilot">{{firstPilot}}</h6>
		</div>
	</div>
</div>

<div ui-view></div>
<script>
	$(document).foundation();
</script>