<div class="top-bar div-schedule-color">

  <div style="float:left; width:80% ">
    <label class="text-label" style="margin-left:10%;">Location</label>

    <select class="selection-location">
      <option ng-repeat="loc in location">{{loc.airportCode}}-{{loc.airportName}}</option>

    </select>
  </div>
  <div style="float:left; width:30% ">
    <label class="text-label" style="margin-left: 50px;">Date</label>
    <input type="date" class="input-date" id="date" style="height:39px;border-radius: 6px;">
  </div>
  <button type="button" class="button warning" style="width: 150px;margin-top: 50px;margin-left: 80px;border-radius: 5px" ng-click="startAnalysis()">Start Analysis</button>

</div>

<div class="schedule-table-location">
  <table id="example" class="display schedule-table fixed-table-container" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th style="width:30px;"></th>
        <th>Flight No.</th>
        <th>Aircraft Code</th>
        <th style="width:250px;">Captain Name </th>
        <th>Time Departure</th>
        <th>Dest Airport</th>
        <th>Duration(mins)</th>
      </tr>

    </thead>

    <tbody ng-repeat="schedule in schedules">

      <tr>
        <td style="width:30px;"></td>
        <td>schedule.</td>
        <td>AC001</td>
        <td style="width:250px;">Charles A. Lindbergh</td>
        <td>09:00:00</td>
        <td>EWR</td>
        <td>255</td>

      </tr>



    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      "scrollCollapse": false,
      "paging": false,
      "language": { search: "" },
      columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      order: [[1, 'asc']]
    });
    $('.dataTables_filter input').attr("placeholder", "Search");
    $('.dataTables_filter input').attr("height", "500px");
  });

</script>